<template>
  <main class="flex flex-col items-center">
    <HelloWorld/>
  </main>
</template>

<script setup lang="ts">
import HelloWorld from "@/components/HelloWorld.vue";
</script>

<style lang="postcss">

</style>
