<template>
  <h1 class="py-4 text-9xl align-center text-blue-500">Hello World</h1>
  <section class="flex flex-row flex-wrap justify-center">
    <img v-for="(logo,key, index) in logos" :key="index" :src="logo" class="h-1/5 w-1/6" :alt="key">
  </section>
  <button class="bg-blue-300 text-blue-600 p-6 mt-8 rounded-md text-4xl" @click="toggleModale">{{showModale?"Close Modal":"Open modal"}}</button>
  <Modale v-if="showModale" @closeModale="toggleModale">
    <section class="my-12 flex flex-col items-center">
        <h1 class="text-5xl text-blue-400">Counter is at {{count}}</h1>
        <article class="flex flex-row justify-evenly mt-3 w-1/2">
            <button class="btn-counter" @click="dec">-1</button>
            <button class="btn-counter" @click="reset">Reset</button>
            <button class="btn-counter" @click="inc">+1</button>
        </article>
    </section>
  </Modale>
</template>

<script setup lang="ts">
  import Modale from "./Modale.vue";
  import { logos } from "@/assets/logos";
  import {ref} from "vue";
  import { storeToRefs } from 'pinia';
  import { useCounterStore } from '../store/useCounter';

  const counter = useCounterStore();
  const {count} = storeToRefs(counter);
  const {inc, dec, reset} = counter;

  const showModale = ref(false);
  const toggleModale = () => {showModale.value = !showModale.value};
</script>

<style scoped lang="postcss">
  .btn-counter {
          @apply p-4;
          @apply bg-blue-300;
          @apply rounded-md;
          @apply text-blue-800;
  }
</style>