<template>
  <section
    @click.self="emit('closeModale')"
    class="
      inset-0
      -top-2
      fixed
      w-full
      z-50
      bg-black bg-opacity-80
      flex
      justify-center
      items-center
    "
  >
    <article
      class="
        fixed
        align-top
        top-0
        w-4/5
        sm:w-1/2
        h-full
        justify-center
        p-2
        bg-white
        border-0
        md:border-4
        md:rounded
        md:shadow
        flex flex-col
      "
    >
      <button @click="emit('closeModale')" class="absolute top-2 right-2">
        <svg
          class="h-6 w-6 fill-current text-black hover:text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
          />
        </svg>
      </button>
      <slot></slot>
    </article>
  </section>
</template>

<script setup lang="ts">
  const emit = defineEmits(["closeModale"]);
</script>